<div class="footer container-fluid bg-light">
  <div class="row">
    <div class="col-sm-3 text-left">
      <%= link_to "v#{TrailGuide::Version::VERSION}", "https://github.com/markrebec/trailguide", target: :blank, class: "text-muted" %>
    </div>
    <div class="col-sm-6 text-center">
      <strong><%= number_with_delimiter TrailGuide.catalog.sum(&:participants) %></strong>
      <span class="fas fa-users" data-toggle="tooltip" title="participants"></span> generating
      <strong><%= number_with_delimiter TrailGuide.catalog.all.sum(&:converted) %></strong>
      <span class="fas fa-fill-drip" data-toggle="tooltip" title="conversions"></span> against
      <strong><%= number_with_delimiter TrailGuide.catalog.all.sum { |exp| exp.variants.count } %></strong>
      <span class="fas fa-vials" data-toggle="tooltip" title="variants"></span> and
      <strong><%= number_with_delimiter TrailGuide.catalog.all.sum { |exp| exp.goals.empty? ? 1 : exp.goals.count } %></strong>
      <span class="fas fa-fill" data-toggle="tooltip" title="goals"></span> across
      <strong><%= number_with_delimiter TrailGuide.catalog.all.count %></strong>
      <span class="fas fa-flask" data-toggle="tooltip" title="experiments"></span>
      <% unless TrailGuide.configuration.ignore_orphaned_groups? || TrailGuide.catalog.orphans.empty? %>
        &nbsp;&nbsp;&nbsp;
        <%= link_to trail_guide_admin.orphans_url, style: 'text-decoration: none', data: {toggle: 'tooltip'}, title: 'orphans' do %>
          <span class="alert-warning" style="background-color: transparent; boder-color: transparent;">
            <strong><%= number_with_delimiter TrailGuide.catalog.orphans.count %></strong>
            <span class="fas fa-ghost"></span>
          </span>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-3 text-right">
      <small class="text-muted"><%= TrailGuide.redis_client.id %><%= "/#{TrailGuide.redis.namespace}" if TrailGuide.redis.respond_to?(:namespace) %></small>
      <button type="button" class="btn btn-link text-muted" style="font-size: 80%; margin: 0; padding: 0;" data-toggle="modal" data-target="#import-modal" data-tooltip="tooltip" title="Import/Export">
        <span class="fas fa-file-download"></span>
      </button>
    </div>
  </div>
</div>

<%= render partial: 'layouts/trail_guide/admin/import_modal' %>
