<nav class="navbar navbar-expanded-sm navbar-light bg-light fixed-top">
  <%= link_to trail_guide_admin.experiments_path, class: "navbar-brand d-none d-sm-inline-block" do %>
    <%= image_tag "trail_guide/trailguide.png" %>
    <%= TrailGuide::Admin.configuration.title %>
  <% end %>
  <div class="col-sm text-center">
    <div class="btn-group">
      <%= link_to trail_guide_admin.experiments_path, class: "btn btn-light text-dark", data: {toggle: :tooltip}, title: "Experiment".pluralize(TrailGuide.catalog.count) do %>
        <span class="fas fa-flask"></span>
        &nbsp;
        <strong class="total"><%= TrailGuide.catalog.count %></strong>
      <% end %>

      <button type="button" class="btn btn-light text-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>

      <div class="dropdown-menu">
        <% if TrailGuide.catalog.unstarted.count > 0 %>
          <%= link_to trail_guide_admin.scoped_experiments_path(scope: :unstarted), class: "dropdown-item text-secondary" do %>
            <span class="fas fa-flask"></span>
            <small>&times;</small>
            <strong class="total"><%= TrailGuide.catalog.unstarted.count %></strong>
            &nbsp;
            <span>Unstarted</span>
          <% end %>
        <% end %>

        <% if TrailGuide.catalog.calibrating.count > 0 %>
          <%= link_to trail_guide_admin.scoped_experiments_path(scope: :calibrating), class: "dropdown-item text-secondary" do %>
            <span class="fas fa-cog"></span>
            <small>&times;</small>
            <strong class="total"><%= TrailGuide.catalog.calibrating.count %></strong>
            &nbsp;
            <span>Calibrating</span>
          <% end %>
        <% end %>

        <% if TrailGuide.catalog.running.count > 0 %>
          <%= link_to trail_guide_admin.scoped_experiments_path(scope: :running), class: "dropdown-item text-success" do %>
            <span class="fas fa-play"></span>
            <small>&times;</small>
            <strong class="total"><%= TrailGuide.catalog.running.count %></strong>
            &nbsp;
            <span>Running</span>
          <% end %>
        <% end %>

        <% if TrailGuide.catalog.paused.count > 0 %>
          <%= link_to trail_guide_admin.scoped_experiments_path(scope: :paused), class: "dropdown-item text-warning" do %>
            <span class="fas fa-pause"></span>
            <small>&times;</small>
            <strong class="total"><%= TrailGuide.catalog.paused.count %></strong>
            &nbsp;
            <span>Paused</span>
          <% end %>
        <% end %>

        <% if TrailGuide.catalog.scheduled.count > 0 %>
          <%= link_to trail_guide_admin.scoped_experiments_path(scope: :scheduled), class: "dropdown-item text-info" do %>
            <span class="fas fa-calendar"></span>
            <small>&times;</small>
            <strong class="total"><%= TrailGuide.catalog.scheduled.count %></strong>
            &nbsp;
            <span>Scheduled</span>
          <% end %>
        <% end %>

        <% if TrailGuide.catalog.stopped.count > 0 %>
          <%= link_to trail_guide_admin.scoped_experiments_path(scope: :stopped), class: "dropdown-item text-danger" do %>
            <span class="fas fa-stop"></span>
            <small>&times;</small>
            <strong class="total"><%= TrailGuide.catalog.stopped.count %></strong>
            &nbsp;
            <span>Stopped</span>
          <% end %>
        <% end %>

        <% if TrailGuide.catalog.ended.count > 0 %>
          <%= link_to trail_guide_admin.scoped_experiments_path(scope: :ended), class: "dropdown-item text-primary" do %>
            <span class="fas fa-flag-checkered"></span>
            <small>&times;</small>
            <strong class="total"><%= TrailGuide.catalog.ended.count %></strong>
            &nbsp;
            <span>Ended</span>
          <% end %>
        <% end %>
      </div>
    </div>

    <% unless TrailGuide.catalog.groups.empty? %>
      <div class="btn-group">
        <%= link_to trail_guide_admin.groups_path, class: "btn btn-light text-dark", data: {toggle: :tooltip}, title: "Group".pluralize(TrailGuide.catalog.groups.count) do %>
          <span class="fas fa-th-large"></span>
          &nbsp;
          <strong class="total">
            <%= TrailGuide.catalog.groups.count %>
          </strong>
        <% end %>

        <button type="button" class="btn btn-light text-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>

        <div class="dropdown-menu">

          <% TrailGuide.catalog.groups.each do |group| %>
            <%= link_to trail_guide_admin.group_path(group), class: "dropdown-item text-secondary" do %>
              <span class="fas fa-flask"></span>
              <small>&times;</small>
              <strong class="total">
                <%= TrailGuide.catalog.select(group).count %>
              </strong>
              &nbsp;
              <span><%= group.to_s.humanize.titleize %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <button type="button" class="btn btn-light text-dark" style="display: none;" data-toggle="modal" data-target="#calculator-modal" data-tooltip="tooltip" title="sample size calculator">
      <span class="fas fa-calculator"></span>
    </button>
  </div>
  <span class="navbar-brand d-none d-md-inline-block"><small class="text-muted"><%= TrailGuide::Admin.configuration.subtitle %></small></span>
</nav>

<%= render partial: 'layouts/trail_guide/admin/calculator' %>

<div class="toasts">
  <% flash.each do |key, message| %>
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="5000">
      <div class="toast-header">
        <%= image_tag "trail_guide/trailguide.png", class: "rounded mr-2", style: "width: 25px; height: 25px;" %>
        <strong class="mr-auto">TrailGuide</strong>
        <small class="text-muted">just now</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        <%= raw message %>
      </div>
    </div>
  <% end %>
</div>
