<nav class="navbar navbar-expanded-sm navbar-light bg-light">
  <%= link_to trail_guide_admin.experiments_path, class: "navbar-brand" do %>
    <%= image_tag "trail_guide/trailguide.png" %>
    <%= TrailGuide::Admin.configuration.title %>
  <% end %>
  <div class="col-sm text-center">
    <%= link_to trail_guide_admin.experiments_path, class: "text-dark" do %>
      <strong class="total">
        <%= TrailGuide.catalog.count %>
      </strong>
      <span>experiments</span>
    <% end %>

    <span>/</span>

    <%= link_to trail_guide_admin.scoped_experiments_path(scope: :running), class: "text-dark" do %>
      <strong class="total">
        <%= TrailGuide.catalog.running.count %>
      </strong>
      <span>running</span>
    <% end %>

    <span>/</span>

    <% if TrailGuide.catalog.any? { |exp| exp.configuration.can_resume? } %>
      <%= link_to trail_guide_admin.scoped_experiments_path(scope: :paused), class: "text-dark" do %>
        <strong class="total">
          <%= TrailGuide.catalog.paused.count %>
        </strong>
        <span>paused</span>
      <% end %>

      <span>/</span>
    <% end %>

    <%= link_to trail_guide_admin.scoped_experiments_path(scope: :stopped), class: "text-dark" do %>
      <strong class="total">
        <%= TrailGuide.catalog.stopped.count %>
      </strong>
      <span>stopped</span>
    <% end %>
  </div>
  <span class="navbar-brand"><small class="text-muted"><%= TrailGuide::Admin.configuration.subtitle %></small></span>
</nav>

<% flash.each do |key, message| %>
  <div class="alert alert-<%= key %> alert-dismissable">
    <%= message %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
