<nav class="navbar navbar-expanded-sm navbar-light bg-light fixed-top">
  <%= link_to trail_guide_admin.experiments_path, class: "navbar-brand d-none d-sm-inline-block" do %>
    <%= image_tag "trail_guide/trailguide.png" %>
    <%= TrailGuide::Admin.configuration.title %>
  <% end %>
  <div class="col-sm text-center">
    <div class="btn-group">
      <%= link_to trail_guide_admin.experiments_path, class: "btn btn-outline-light text-dark" do %>
        <span class="fas fa-flask"></span>
        &nbsp;
        <strong class="total">
          <%= TrailGuide.catalog.count %>
        </strong>
        <span>experiments</span>
      <% end %>

      <button type="button" class="btn btn-outline-light text-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>

      <div class="dropdown-menu">
        <% if TrailGuide.catalog.unstarted.count > 0 %>
          <%= link_to trail_guide_admin.scoped_experiments_path(scope: :unstarted), class: "dropdown-item text-secondary" do %>
            <span class="fas fa-flask"></span>
            &nbsp;
            <strong class="total">
              <%= TrailGuide.catalog.unstarted.count %>
            </strong>
            <span>unstarted</span>
          <% end %>
        <% end %>

        <% if TrailGuide.catalog.running.count > 0 %>
          <%= link_to trail_guide_admin.scoped_experiments_path(scope: :running), class: "dropdown-item text-success" do %>
            <span class="fas fa-play"></span>
            &nbsp;
            <strong class="total">
              <%= TrailGuide.catalog.running.count %>
            </strong>
            <span>running</span>
          <% end %>
        <% end %>

        <% if TrailGuide.catalog.paused.count > 0 %>
          <%= link_to trail_guide_admin.scoped_experiments_path(scope: :paused), class: "dropdown-item text-warning" do %>
            <span class="fas fa-pause"></span>
            &nbsp;
            <strong class="total">
              <%= TrailGuide.catalog.paused.count %>
            </strong>
            <span>paused</span>
          <% end %>
        <% end %>

        <% if TrailGuide.catalog.scheduled.count > 0 %>
          <%= link_to trail_guide_admin.scoped_experiments_path(scope: :scheduled), class: "dropdown-item text-info" do %>
            <span class="fas fa-calendar"></span>
            &nbsp;
            <strong class="total">
              <%= TrailGuide.catalog.scheduled.count %>
            </strong>
            <span>scheduled</span>
          <% end %>
        <% end %>

        <% if TrailGuide.catalog.stopped.count > 0 %>
          <%= link_to trail_guide_admin.scoped_experiments_path(scope: :stopped), class: "dropdown-item text-danger" do %>
            <span class="fas fa-stop"></span>
            &nbsp;
            <strong class="total">
              <%= TrailGuide.catalog.stopped.count %>
            </strong>
            <span>stopped</span>
          <% end %>
        <% end %>

        <% if TrailGuide.catalog.ended.count > 0 %>
          <%= link_to trail_guide_admin.scoped_experiments_path(scope: :ended), class: "dropdown-item text-primary" do %>
            <span class="fas fa-flag-checkered"></span>
            &nbsp;
            <strong class="total">
              <%= TrailGuide.catalog.ended.count %>
            </strong>
            <span>ended</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <span class="navbar-brand d-none d-md-inline-block"><small class="text-muted"><%= TrailGuide::Admin.configuration.subtitle %></small></span>
</nav>

<% flash.each do |key, message| %>
  <div class="alert alert-<%= key %> alert-dismissable">
    <%= message %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
