<!DOCTYPE html>
<html>
<head>
  <title>TrailGuide Admin</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "trail_guide/admin/application", media: "all" %>
  <%= javascript_include_tag "trail_guide/admin/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
