<%= render partial: 'trail_guide/admin/orphans/alert' %>

<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="experiments">
      <% @groups.each do |group| %>
        <button href="<%= trail_guide_admin.group_path(group) %>" class="experiment btn btn-outline-secondary rounded-lg text-left">
          <div class="row align-items-center">
            <div class="col-12 col-md-6 col-lg-8 experiment-text">
              <h4 id="<%= group %>">
                <%= group.to_s.humanize.titleize %>
              </h4>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-center text-md-right">
              <div class="row align-items-center">
                <div class="col-4 experiment-text">
                </div>

                <div class="col-4 experiment-text">
                </div>

                <div class="col-4 text-center">
                  <h4>
                    <span class="fas fa-flask"></span>
                    &times;
                    <%= TrailGuide.catalog.select(group).count %>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </button>
      <% end %>
    </div>
  </div>
</div>
