<button href="<%= trail_guide_admin.experiment_path(experiment.experiment_name) %>" class="experiment btn btn-outline-<%= experiment_color(experiment) %> rounded-lg text-left">
  <div class="row align-items-center">
    <div class="col-12 col-md-6 col-lg-8 experiment-text">
      <h4 id="<%= experiment.experiment_name %>">
        <%= experiment.experiment_name.to_s.humanize.titleize %>
      </h4>
      <p style="margin: 0; padding: 0;"><%= experiment.configuration.summary %></p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 text-center text-md-right experiment-icons">
      <% if experiment.winner? %>
        <span class="fas fa-flag-checkered fa-2x"></span>
      <% elsif experiment.started? %>
        <% if experiment.stopped? %>
          <span class="fas fa-stop fa-2x"></span>
        <% elsif experiment.paused? %>
          <span class="fas fa-pause fa-2x"></span>
        <% else %>
          <span class="fas fa-play fa-2x"></span>
        <% end %>
      <% elsif experiment.scheduled? %>
        <span class="fas fa-clock fa-2x"></span>
      <% else %>
        <span class="fas fa-flask fa-2x"></span>
      <% end %>
    </div>
  </div>
</button>
