<div class="experiment row justify-content-center">
  <div class="col-sm-12 col-md-10 col-lg-8">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-8">
        <h4 style="margin: 0; padding: 0;" id="<%= experiment.experiment_name %>">
          <%= link_to experiment.experiment_name.to_s.humanize.titleize, trail_guide_admin.experiments_path(anchor: experiment.experiment_name), class: "text-dark" %>
        </h4>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 text-right">
        <% if experiment.running? %>
          <%= link_to "stop", trail_guide_admin.stop_experiment_path(experiment.experiment_name), class: 'btn btn-sm btn-warning', method: :put %>
          <%= link_to "restart", trail_guide_admin.restart_experiment_path(experiment.experiment_name), class: 'btn btn-sm btn-danger',method: :put %>
        <% elsif experiment.started? %>
          <%= link_to "resume", trail_guide_admin.resume_experiment_path(experiment.experiment_name), class: 'btn btn-sm btn-primary',method: :put %>
        <% else %>
          <%= link_to "start", trail_guide_admin.start_experiment_path(experiment.experiment_name), class: 'btn btn-sm btn-success',method: :put %>
        <% end %>
        <%= link_to "reset", trail_guide_admin.reset_experiment_path(experiment.experiment_name), class: 'btn btn-sm btn-outline-danger',method: :put %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-right">
        <% if experiment.started? %>
          <small class="text-muted"><%= experiment.started_at.strftime('%b %e %Y @ %l:%M %p') %></small>
          <span class="text-muted">&mdash;</span>
          <% if experiment.stopped? %>
            <small class="text-muted"><%= experiment.stopped_at.strftime('%b %e %Y @ %l:%M %p') %></small>
          <% else %>
            <small class="text-muted">running</small>
          <% end %>
        <% else %>
          <small class="text-muted">not running</small>
        <% end %>
      </div>
    </div>

    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Group</th>

          <th scope="col">Participants</th>

          <% if experiment.goals.empty? %>
            <th scope="col">Converted</th>
          <% else %>
            <% experiment.goals.each do |goal| %>
              <th scope="col"><%= goal.to_s.humanize.titleize %></th>
            <% end %>
          <% end %>

          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <% experiment.variants.each do |variant| %>
          <tr class="<%= "table-secondary" if variant.control? %>">
            <th scope="row">
              <%= variant.name.to_s.humanize.titleize %>
              <% if experiment.running? && !experiment.winner? && participant.variant(experiment) == variant %>
                <span class="badge badge-secondary">joined</span>
              <% end %>
              <% if experiment.winner? && variant == experiment.winner %>
                <span class="badge badge-primary">winner</span>
              <% end %>
              <% if variant.control? %>
                <small class="text-muted">control</small>
              <% end %>
            </th>

            <td><%= variant.participants %></td>

            <% if experiment.goals.empty? %>
              <td><%= variant.converted %></td>
            <% else %>
              <% experiment.goals.each do |goal| %>
                <td><%= variant.converted(goal) %></td>
              <% end %>
            <% end %>

            <td class="text-right">
              <% if experiment.running? && !experiment.winner? %>
                <% if participant.variant(experiment) == variant %>
                  <%= link_to "leave group", trail_guide_admin.leave_experiment_path(experiment.experiment_name), class: "btn btn-sm btn-outline-secondary", method: :put %>
                <% else %>
                  <%= link_to "enter group", trail_guide_admin.join_experiment_path(experiment.experiment_name, variant.name), class: "btn btn-sm btn-secondary", method: :put %>
                <% end %>
              <% end %>

              <% if !experiment.winner? || variant != experiment.winner %>
                <%= link_to "select winner", trail_guide_admin.winner_experiment_path(experiment.experiment_name, variant.name), class: "btn btn-sm btn-#{experiment.winner? ? "outline-" : ""}primary", method: :put %>
              <% elsif experiment.winner? && variant == experiment.winner %>
                <%= link_to "remove winner", trail_guide_admin.clear_experiment_path(experiment.experiment_name), class: "btn btn-sm btn-warning", method: :put %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>

      <tfoot class="thead-light">
        <tr>
          <th scope="row">Totals</th>
          <th><%= experiment.variants.sum(&:participants) %></th>
          <% if experiment.goals.empty? %>
            <th><%= experiment.variants.sum(&:converted) %></th>
          <% else %>
            <% experiment.goals.each do |goal| %>
              <th><%= experiment.variants.sum { |var| var.converted(goal) } %></th>
            <% end %>
          <% end %>
          <th>&nbsp;</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
