<div class="row align-items-center">
  <div class="col-8 col-lg-10">
    <h1 id="<%= experiment.experiment_name %>">
      <%= experiment.experiment_name.to_s.humanize.titleize %>
    </h1>
  </div>

  <div class="col-4 col-lg-2 text-right">
    <% unless experiment <= TrailGuide::CombinedExperiment %>
      <div class="btn-group">
        <% if experiment.combined? %>
          <%= render partial: 'btn_leave', locals: { experiment: experiment } %>
          <%= render partial: 'btn_enroll', locals: { experiment: experiment } %>
          <%= render partial: 'btn_peek', locals: { experiment: experiment } %>
        <% end %>
        <%= render partial: 'btn_schedule', locals: { experiment: experiment } %>
        <%= render partial: 'btn_start', locals: { experiment: experiment } %>
        <%= render partial: 'btn_pause', locals: { experiment: experiment } %>
        <%= render partial: 'btn_resume', locals: { experiment: experiment } %>
        <%= render partial: 'btn_stop', locals: { experiment: experiment } %>
        <%= render partial: 'btn_restart', locals: { experiment: experiment } %>
        <%= render partial: 'btn_reset', locals: { experiment: experiment } %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <p style="padding: 0; margin: 0;">
      <% if experiment.started? %>
        <% if experiment.stopped? %>
          <span class="text-muted">
            <%= experiment.started_at.strftime('%b %e %Y @ %l:%M %p') %>
          </span>
          <span class="text-muted">&mdash;</span>
          <span class="text-muted"><%= experiment.stopped_at.strftime('%b %e %Y @ %l:%M %p') %></span>
        <% elsif experiment.paused? %>
          <span class="text-muted">
            <%= experiment.paused_at.strftime('%b %e %Y @ %l:%M %p') %>
          </span>
        <% else %>
          <span class="text-muted">
            <%= experiment.started_at.strftime('%b %e %Y @ %l:%M %p') %>
          </span>
        <% end %>
      <% elsif experiment.scheduled? %>
        <span class="text-muted">
          <%= experiment.started_at.strftime('%b %e %Y @ %l:%M %p') %>
        </span>
      <% end %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <p><%= experiment.configuration.summary %></p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <% if experiment <= TrailGuide::CombinedExperiment %>
      <div class="alert alert-dark">
        <h6>
          <span class="fas fa-link"></span>
          Combined Experiment
        </h6>
        <p><small>This experiment is part of a combined experiment, and some features must be managed via it's parent experiment <strong><%= link_to experiment.parent.experiment_name.to_s.humanize.titleize, trail_guide_admin.experiment_path(experiment.parent.experiment_name), class: 'text-dark' %></strong></small></p>
      </div>
    <% end %>

    <%= render partial: 'alert_state', locals: {experiment: experiment} %>
  </div>
</div>
