<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-8">
    <h4 id="<%= experiment.experiment_name %>">
      <%= link_to experiment.experiment_name.to_s.humanize.titleize, trail_guide_admin.experiment_path(experiment.experiment_name), class: "text-dark" %>
    </h4>
    <p><%= experiment.configuration.summary %></p>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 text-right">
    <%= render partial: 'btn_start', locals: { experiment: experiment } %>
    <%= render partial: 'btn_peek', locals: { experiment: experiment } %>
    <%= render partial: 'btn_pause', locals: { experiment: experiment } %>
    <%= render partial: 'btn_resume', locals: { experiment: experiment } %>
    <%= render partial: 'btn_stop', locals: { experiment: experiment } %>

    <p>
      <% if experiment.started? %>
        <% if experiment.stopped? %>
          <small class="text-muted">
            <%= experiment.started_at.strftime('%b %e %Y @ %l:%M %p') %>
          </small>
          <span class="text-muted">&mdash;</span>
          <small class="text-muted"><%= experiment.stopped_at.strftime('%b %e %Y @ %l:%M %p') %></small>
          <small class="text-danger"><span class="fa fa-stop"></span></small>
        <% elsif experiment.paused? %>
          <small class="text-muted">
            <%= experiment.paused_at.strftime('%b %e %Y @ %l:%M %p') %>
          </small>
          <small class="text-warning"><span class="fa fa-pause"></span></small>
        <% else %>
          <small class="text-muted">
            <%= experiment.started_at.strftime('%b %e %Y @ %l:%M %p') %>
          </small>
          <small class="text-success"><span class="fa fa-play"></span></small>
        <% end %>
      <% elsif experiment.scheduled? %>
        <small class="text-muted">
          <%= experiment.started_at.strftime('%b %e %Y @ %l:%M %p') %>
        </small>
        <small class="text-muted"><span class="fa fa-clock"></span></small>
      <% else %>
        <small class="text-muted">not running</small>
        <small class="text-muted"><span class="fa fa-flask"></span></small>
      <% end %>
    <p>
  </div>
</div>
