<div id="start-experiment-modal-<%= experiment.experiment_name %>" class="modal start-experiment-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag trail_guide_admin.schedule_experiment_path(experiment.experiment_name) do %>
        <div class="modal-header">
          <h5 class="modal-title"><%= experiment.experiment_name.to_s.humanize.titleize %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-left">
          <p class="text-muted">Schedule your experiment to start at a future date and time or click <span class="text-success"><span class="fas fa-play"></span> Start Now</span> to kick it off immediately.</p>

          <div class="form-group row">
            <label for="start-experiment-at-<%= experiment.experiment_name %>" class="col-sm-3 col-form-label"><strong>Start</strong></label>
            <div class="col-sm-9">
              <div class="input-group date datepicker" id="start-experiment-at-<%= experiment.experiment_name %>" data-target-input="nearest">
                <input type="text" name="experiment[start_at]" value="<%= (experiment.started_at ? experiment.started_at.strftime(TrailGuide::SCHEDULE_DATE_FORMAT) : nil) %>" class="form-control datetimepicker-input" data-target="#start-experiment-at-<%= experiment.experiment_name %>"/>
                <div class="input-group-append" data-target="#start-experiment-at-<%= experiment.experiment_name %>" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="stop-experiment-at-<%= experiment.experiment_name %>" class="col-sm-3 col-form-label"><strong>Stop</strong></label>
            <div class="col-sm-9">
              <div class="input-group date datepicker" id="stop-experiment-at-<%= experiment.experiment_name %>" data-target-input="nearest">
                <input type="text" name="experiment[stop_at]" value="<%= (experiment.stopped_at ? experiment.stopped_at.strftime(TrailGuide::SCHEDULE_DATE_FORMAT) : nil) %>" class="form-control datetimepicker-input" data-target="#stop-experiment-at-<%= experiment.experiment_name %>"/>
                <div class="input-group-append" data-target="#stop-experiment-at-<%= experiment.experiment_name %>" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
              <small class="text-muted">You may also optionally schedule your experiment to stop automatically at a date and time after it has started.</small>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-sm-4">
            <%= link_to trail_guide_admin.start_experiment_path(experiment.experiment_name), class: 'btn btn-success', method: :put, data: {toggle: :tooltip}, title: 'start this experiment immediately' do %>
              <span class="fas fa-play"></span>
              Start Now
            <% end %>
          </div>
          <div class="col-sm-8">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-info">
              <span class="fas fa-clock"></span>
              Schedule Experiment
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
