<tbody>
  <% experiment.variants.sort { |a,b| b.measure(calculator.goal) <=> a.measure(calculator.goal) }.each do |variant| %>
    <% vcalc = calculator.variants.find { |v| variant == v.name } %>
    <tr>
      <td class="text-left btn-col">
        <%= render partial: 'btn_join', locals: { experiment: experiment, variant: variant } %>
      </td>

      <th scope="row" class="text-left">
        <% if variant.control? %>
          <span class="fas fa-cog text-muted" data-toggle="tooltip" title="this variant is the control group for this experiment"></span>
        <% else %>
          <span class="fas fa-vial text-muted" data-toggle="tooltip" title="this variant is an alternate group for this experiment"></span>
        <% end %>

        <% if experiment.configuration.preview_url? %>
          <%= link_to preview_url(variant), target: :blank, class: "text-#{variant_analysis_color(vcalc, calculator)}", data: {toggle: :tooltip}, title: "preview this variant (without affecting metrics)" do %>
            <span><%= variant.name.to_s.humanize.titleize %></span>
            <small><span class="fas fa-external-link-alt"></span></small>
          <% end %>
        <% else %>
          <span class="text-<%= variant_analysis_color(vcalc, calculator) %>"><%= variant.name.to_s.humanize.titleize %></span>
        <% end %>

        <% if (experiment.running? || experiment.calibrating?) && participant.variant(experiment) == variant %>
          <span class="fas fa-user text-secondary" data-toggle="tooltip" title="you are currently in this cohort"></span>
        <% end %>
        <% if experiment.winner? && variant == experiment.winner %>
          <span class="fas fa-flag-checkered text-primary" data-toggle="tooltip" title="this variant has been promoted as the winner of the experiment"></span>
        <% end %>
      </th>

      <td>
        <strong class="text-<%= variant_analysis_color(vcalc, calculator) %>"><%= experiment_metric experiment, variant.participants %></strong>
      </td>

      <% if experiment.goals.empty? %>
        <td>
          <%= experiment_metric experiment do %>
            <% if @analyzing %>
              <div class="row">
                <div class="col-4 text-right">
                  <strong class="text-<%= variant_analysis_color(vcalc, calculator) %>"><%= number_with_delimiter variant.converted %></strong>
                </div>
                <div class="col-8 text-left">
                  <small class="text-light">&nbsp;</small>
                  <small class="text-<%= variant_analysis_color(vcalc, calculator) %>" data-toggle="tooltip" title="conversion rate vs all participants">
                    <span class="fas fa-<%= vcalc.difference == 0 ? "minus" : (vcalc.difference > 0 ? "long-arrow-alt-up" : "long-arrow-alt-down") %>"></span>
                    <%= number_with_delimiter (variant.measure * 100).round(1) %>%
                  </small>
                  <small class="text-light">&nbsp;</small>
                  <small class="text-<%= variant_analysis_color(vcalc, calculator) %>" data-toggle="tooltip" title="performance vs control">
                    <%= number_with_delimiter vcalc.difference.round(2) %>%
                  </small>
                  <small class="text-light">&nbsp;</small>
                  <small class="text-<%= variant_analysis_color(vcalc, calculator) %>" data-toggle="tooltip" title="probability of winning">
                    <%= number_with_delimiter vcalc.probability.round(2) %>%
                  </small>
                </div>
              </div>
            <% else %>
              <strong class="text-<%= variant_analysis_color(vcalc, calculator) %>"><%= number_with_delimiter variant.converted %></strong>
            <% end %>
          <% end %>
        </td>
      <% else %>
        <% experiment.goals.each_with_index do |goal, g| %>
          <td>
            <%= experiment_metric experiment do %>
              <% if @analyzing && goal == calculator.goal %>
                <div class="row">
                  <div class="col-4 text-right">
                    <strong class="text-<%= variant_analysis_color(vcalc, calculator) %>"><%= number_with_delimiter variant.converted(goal) %></strong>
                  </div>
                  <div class="col-8 text-left">
                    <small class="text-light">&nbsp;</small>
                    <small class="text-<%= variant_analysis_color(vcalc, calculator) %>" data-toggle="tooltip" title="conversion rate vs all participants">
                      <span class="fas fa-<%= vcalc.difference == 0 ? "minus" : (vcalc.difference > 0 ? "long-arrow-alt-up" : "long-arrow-alt-down") %>"></span>
                      <%= number_with_delimiter (variant.measure(goal) * 100).round(1) %>%
                    </small>
                    <small class="text-light">&nbsp;</small>
                    <small class="text-<%= variant_analysis_color(vcalc, calculator) %>" data-toggle="tooltip" title="performance vs control">
                      <%= number_with_delimiter vcalc.difference.round(2) %>%
                    </small>
                    <small class="text-light">&nbsp;</small>
                    <small class="text-<%= variant_analysis_color(vcalc, calculator) %>" data-toggle="tooltip" title="probability of winning">
                      <%= number_with_delimiter vcalc.probability.round(2) %>%
                    </small>
                  </div>
                </div>
              <% else %>
                <strong class="text-<%= variant_analysis_color(vcalc, calculator) %>"><%= number_with_delimiter variant.converted(goal) %></strong>
              <% end %>
            <% end %>
          </td>
        <% end %>
      <% end %>

      <td class="text-right btn-col">
        <% if !experiment.winner? || variant != experiment.winner %>
          <%= link_to trail_guide_admin.winner_experiment_path(experiment.experiment_name, variant.name), class: "btn btn-sm btn-#{experiment.winner? ? "outline-" : ""}primary", method: :put, data: {toggle: :tooltip}, title: 'rollout this variant as the winner for this experiment' do %>
            <span class="fas fa-flag-checkered" />
          <% end %>
        <% elsif experiment.winner? && variant == experiment.winner %>
          <%= link_to trail_guide_admin.clear_experiment_path(experiment.experiment_name), class: "btn btn-sm btn-outline-warning", method: :put, data: {toggle: :tooltip}, title: 'remove this variant as the selected winner' do %>
            <span class="fas fa-minus-circle" />
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
