<thead class="thead-light">
  <tr>
    <th scope="col">
      <% if experiment <= TrailGuide::CombinedExperiment && (!@experiment || @experiment.combined?) %>
        <h5 id="<%= experiment.experiment_name %>">
          <%= link_to experiment.experiment_name.to_s.humanize.titleize, trail_guide_admin.experiment_path(experiment.experiment_name), class: "text-dark" %>
        </h5>
      <% else %>
        &nbsp;
      <% end %>
    </th>

    <th scope="col">Participants</th>

    <% if experiment.goals.empty? %>
      <th scope="col">
        Converted
        <%= render partial: 'btn_convert', locals: { experiment: experiment, goal: nil } %>
      </th>
    <% else %>
      <% experiment.goals.each do |goal| %>
        <th scope="col">
          <%= goal.to_s.humanize.titleize %>
          <%= render partial: 'btn_convert', locals: { experiment: experiment, goal: goal } %>
        </th>
      <% end %>
    <% end %>

    <th class="text-right">
      <%= render partial: 'btn_enroll', locals: { experiment: experiment, classname: "btn-sm" } %>
      <%= render partial: 'btn_peek', locals: { experiment: experiment, classname: "btn-sm" } %>
    </th>
  </tr>
</thead>
