<div class="experiment row justify-content-center">
  <div class="col-sm-12 col-md-10 col-lg-8">
    <%= render partial: "header", locals: { experiment: @experiment } %>

    <% if @experiment.combined? %>
      <table class="table table-hover">
        <% combined_experiments = @experiment.combined.map { |e| TrailGuide.catalog.find(e) } %>
        <% combined_experiments.each do |experiment| %>
          <%= render partial: 'thead', locals: { experiment: experiment } %>
          <%= render partial: 'tbody', locals: { experiment: experiment, calculator: experiment_calculator(experiment) } %>
        <% end %>

        <tfoot class="thead-light">
          <tr>
            <th class="btn-col">&nbsp;</th>
            <th scope="row">&nbsp;</th>
            <th>
              <span><%= number_with_delimiter @experiment.participants %></span>
              <% if @experiment.configuration.target_sample_size %>
                <span class="text-muted">/ <%= number_with_delimiter @experiment.configuration.target_sample_size %></span>
              <% end %>
            </th>
            <% if @experiment.goals.empty? %>
              <th><%= experiment_metric @experiment, combined_experiments.sum(&:converted) %></th>
            <% else %>
              <% @experiment.goals.each do |goal| %>
                <th><%= experiment_metric @experiment, combined_experiments.sum { |e| e.converted(goal) } %></th>
              <% end %>
            <% end %>
            <th class="btn-col">&nbsp;</th>
          </tr>
        </tfoot>
      </table>
    <% else %>
      <table class="table table-hover">
        <%= render partial: 'thead', locals: { experiment: @experiment } %>
        <%= render partial: 'tbody', locals: { experiment: @experiment, calculator: experiment_calculator(@experiment) } %>

        <tfoot class="thead-light">
          <tr>
            <th class="btn-col">&nbsp;</th>
            <th scope="row">&nbsp;</th>
            <th>
              <span><%= number_with_delimiter @experiment.participants %></span>
              <% if @experiment.configuration.target_sample_size %>
                <span class="text-muted">/ <%= number_with_delimiter @experiment.configuration.target_sample_size %></span>
              <% end %>
            </th>
            <% if @experiment.goals.empty? %>
              <th><%= experiment_metric @experiment, @experiment.converted %></th>
            <% else %>
              <% @experiment.goals.each do |goal| %>
                <th><%= experiment_metric @experiment, @experiment.converted(goal) %></th>
              <% end %>
            <% end %>
            <th class="btn-col">&nbsp;</th>
          </tr>
        </tfoot>
      </table>
    <% end %>

    <%= render partial: 'alert_peek', locals: {experiment: @experiment} %>
  </div>
</div>
